<div class="task-form">
  <form method="POST" action="/">
    <input class="input" type="text" name="task" placeholder="I need to..." />
    <button class="task-form__button button" type="submit">Create</button>
  </form>

  <% if (locals.errors) { %>
    <% errors.forEach(error => { %>
      <div class="alert alert--error"><%= error.msg %></div>
    <% }) %>
  <% } else if (locals.successMessage) {%>
    <div class="alert alert--success">
      <%= successMessage %>
    </div>
  <% } %>
</div>

<h2>Todo List</h2>

<%- include('../partials/list') %>
