<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= siteName %></title>
    <link href="/css/styles.css" rel="stylesheet" />
  </head>
  <body>
    <header class="header">
      <h1 class="header__title"><%= siteName %></h1>

      <%- include('../partials/menu') %>
    </header>

    <main class="main"><%- include(`../pages/${template}`) %></main>

    <%- include('../partials/scripts') %>
  </body>
</html>
